.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    background-color: #fff;
    padding-bottom: 30px;   
    width: 430px;
    height: 350px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    width: 35%;
    margin-top: 18px;
}

.text{
    font-size: 25px;
    font-weight: 600;
}

.underline{
    width: 35px;
    height: 3px;
    background-color: black;
    border-radius: 9px;
}

.inputs{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 350px;
    height: 44px;
    background: #eaeaea;
    border-radius: 8px;
}

.icon{
    margin: 0px 15px;
    font-size: 18px;
}

.input input{
    height: 40px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 13px;

}

.forget-password{
    padding-left: 45px;
    margin-top: 18px;
    color: #797979;
    font-size: 13px;
}

.forget-password span{
    color: #D3CCE3;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 8px;
    margin:24px auto;

}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width:170px;
    height: 40px;
    color: black;
    background: #D3CCE3;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    border-style: none;
}